/* Configurações gerais de toda a página */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Declaração de variáveis */

:root{
    --cor_primaria:#53815A; /* versao mais escura -> #21472f */ 
    --cor_secundaria: #FFF;
    --grey: #B0B0B0;
    --dark_green: #21472f;
}

body{
    position:relative;
    min-height: 200vh;
}
/* Estilo da navbar */

header{
    margin: 0px;
    width: 100%;
    overflow: hidden;
    height: 5rem;
    background-color: var(--cor_primaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.pages {
    display: flex;
    align-items: center;
}

.pages a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-align: 10px;
}

.pages span {
    margin: 0 15px;
}

.home-btn {
    display: flex;
    gap: 10px;
}

.home-btn img {
    height: 50px;
    width: 50px;
}

a.active-page{
    color:var(--cor_secundaria);
}

a.inactive-page{
    color:var(--grey);
}

a.inactive-page:hover{
    color:var(--cor_secundaria);
}

span.divider{
    color:var(--grey);
}

/* ----------------------- Estilo footer ----------------------- */

footer{
    margin: 0px;
    width: 100%;
    overflow: hidden;
    height: 40vh;
    background-color: var(--cor_primaria);
    position:absolute;    
    bottom: 0;
}

div#footer-itens{
    margin-top:10px;
    width: 100%;
    height: 30vh;
    background-color: var(--cor_primaria);
    display: flex;
}
div.contatos{
    width: 30%;
    margin-right: 6%;
}

div.contatos > p {
    margin-bottom: 1%;
}
div.sobre-nos{
    width: 50%;
    margin-right: 6%;
}
div.acesso-rapido{
    width: 30%;
    margin-right: 6%;
}

div.acesso-rapido > a{
    margin-bottom:1%;
    display: block;
    text-decoration: none;
    color:black;
    font-size: medium;
}
div#footer-itens > * h5{
    font-size:x-large;
    font-weight: bold;
}
div.acesso-rapido > a:hover{
    text-decoration: none;
    color:var(--grey);
}
p#footer-cp{
    width: 100%;
    margin-bottom: 0%;
    display:block;
    text-align: center;
    font-weight: bold;
}

/* ----------------------- End Estilo footer ----------------------- */

/* ----------------------- Estilo CRUD animal ----------------------- */

div#crud-form{
  position:relative;
  width: 50%;
  margin:2% 25%;
  outline: 1px solid black;
  min-height: 70vh;
  border-radius: 10px;
}

div#animal-progresso{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}
div#animal-progresso > div{
  width: 50%;
  margin:0%;
  outline: 1px solid black;
  padding: 2px;
  text-align: center;
}
div#Cadastro-geral{
    border-top-left-radius: 10px;
    background-color: var(--cor_primaria);
}

div#Cadastro-especifico{
  border-top-right-radius: 10px;
}

div#animal-info{
  margin:1%;
  padding: 1%;
}

div#animal-foto{
  min-height: 50vh;
  width: 28%;
  float:left;
  margin-bottom: 1px;
}

img#img-place{
  max-width: 100%;
  border-radius: 10px;
  display:inline-block;
  float:left;
}

div#animal-form{
  float:right;
  margin-left:0.5%;
  max-width:73%;
  min-width:70%;
  min-height:100%;
}

div#animal-form > * label.crud-question {
  display: block;
  margin:1% 0%;
}

button.btn-small{
  background-color:var(--cor_primaria);
  padding:1px;
  border-radius:10px;
  border:none;
  width: 15vh;
}

button.btn-small:hover{
  background-color:var(--dark_green);
}

button#btn-animal-voltar{
  position: absolute;
  left:2%;
  bottom:3%;
}

button#btn-animal-passar{
  position: absolute;
  right:2%;
  bottom:3%;
}

button#load_animal_photo{
  background-color:var(--cor_primaria);
  padding:1px;
  border-radius:10px;
  border:none;
  width: 30vh;

}

/* ----------------------- End Estilo CRUD animal ----------------------- */


/* ----------------------- Início Estilo Login ----------------------- */

#login-body {
    background-color: var(--cor_primaria);
  }
  
  #btnMostrar
  {
    border: none;
    padding: 10px;
    border-radius: 10px;
  }
  
  .pop-up-top
  {
    position: relative;
    top: -1000px;
    animation: drop-top 0.5s ease forwards;
  }
  
  .pop-up-bottom
  {
    position: relative;
    top: 0;
    animation: drop-bottom 0.5s ease forwards;
  }
  
  @keyframes drop-top
  {
    0% {}
    70% { transform: translateY(1050px) }
    100% { transform: translateY(1000px) }
  }
  
  @keyframes drop-bottom
  {
    0% {}
    70% { transform: translateY(-50px) }
    100% { transform: translateY(1000px) }
  }
  
  .login-show
  {
    visibility: visible;
    opacity: 1;
  }
  
  .login-hide
  {
    visibility: hidden;
    opacity: 0;
  }
  
  .login-modal
  {
    position: fixed; 
    top: 0;
    left: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1000; 
    background: rgba(0, 0, 0, 0.3);
  }
  
  .login-container
  {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 500px;
    padding: 15px 50px 0 50px;
    background-color: white;
    border-style: solid;
    border-width: 1px;;
    border-color: var(--grey);
    border-radius: 30px;
    box-shadow: 0px 0px 1px 1px var(--grey);
    z-index: 1001;
  }
  
  .login-close-window
  {
    position: absolute;
    top: 2%;
    left: 91%;
    width: 35px;
    height: 35px;
  }
  
  .login-close-window:hover
  {
    cursor: pointer;
  }
  
  .login-titulo
  {
    text-align: center;
    margin: 0 0 25px 0;
  }
  
  .login-titulo h1
  {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 15px;
  }
  
  .login-titulo h2
  {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .login-input-field
  {
    width: 97%;
    height: 60px;
    font-size: 17px;
    padding-left: 15px;
    margin-bottom: 15px;
    border-style: solid;
    border-width: 1px;;
    border-color: var(--grey);
    border-radius: 10px;
    outline: none;
    transition: .3s;
  }
  
  ::placeholder
  {
    font-weight: 500;
    color: black;
  }
  
  .login-input-field:hover
  {
    width: 99%;
    box-shadow: 0px 1px 2px 2px var(--grey);
  }
  
  .login-button
  {
    display: flex;
    justify-content: center;
  }
  
  .login-button-submit
  {
    margin-top: 5px;
    width: 30%;
    height: 50px;
    background-color: var(--cor_primaria);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 17px;
  }
  
  .login-button-submit:hover
  {
    width: 31%;
    background-color: #507f58;
    font-size: 18px;
    box-shadow: 0px 1px 2px 2px var(--grey);
    cursor: pointer;
  }
  
  .login-cadastro
  {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  
  .login-cadastro a
  {
    text-decoration: none;
  }

#login-body {
  background-color: var(--cor_primaria);
}

#btnMostrarLogin
{
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.pop-up-top
{
  position: relative;
  top: -1000px;
  animation: drop-top 0.5s ease forwards;
}

.pop-up-bottom
{
  position: relative;
  top: 0;
  animation: drop-bottom 0.5s ease forwards;
}

@keyframes drop-top
{
  0% {}
  70% { transform: translateY(1050px) }
  100% { transform: translateY(1000px) }
}

@keyframes drop-bottom
{
  0% {}
  70% { transform: translateY(-50px) }
  100% { transform: translateY(1000px) }
}

.login-show
{
  visibility: visible;
  opacity: 1;
}

.login-hide
{
  visibility: hidden;
  opacity: 0;
}

.login-modal
{
  position: fixed; 
  top: 0;
  left: 0;
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1000; 
  background: rgba(0, 0, 0, 0.3);
}

.login-container
{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 530px;
  padding: 15px 50px 0 50px;
  background-color: white;
  border-style: solid;
  border-width: 1px;;
  border-color: var(--grey);
  border-radius: 30px;
  box-shadow: 0px 0px 1px 1px var(--grey);
  z-index: 1001;
}

.login-close-window
{
  position: absolute;
  top: 2%;
  left: 91%;
  width: 35px;
  height: 35px;
}

.login-close-window:hover
{
  cursor: pointer;
}

.login-titulo
{
  text-align: center;
  margin: 0 0 25px 0;
}

.login-titulo h1
{
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 15px;
}

.login-titulo h2
{
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 5px;
}

.login-input-field
{
  width: 97%;
  height: 60px;
  font-size: 17px;
  padding-left: 15px;
  margin-bottom: 15px;
  border-style: solid;
  border-width: 1px;;
  border-color: var(--grey);
  border-radius: 10px;
  outline: none;
  transition: .3s;
}

::placeholder
{
  font-weight: 500;
  color: black;
}

.login-input
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-input-field:hover
{
  width: 99%;
  box-shadow: 0px 1px 2px 2px var(--grey);
}

.login-button
{
  display: flex;
  justify-content: center;
}

.login-button-submit
{
  margin-top: 5px;
  width: 30%;
  height: 50px;
  background-color: var(--cor_primaria);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 17px;
}

.login-button-submit:hover
{
  width: 31%;
  background-color: #507f58;
  font-size: 18px;
  box-shadow: 0px 1px 2px 2px var(--grey);
  cursor: pointer;
}

.login-cadastro
{
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.login-strong
{
  color: rgb(0, 51, 255);
}

.login-strong:hover
{
  cursor: pointer;
}

/* ----------------------- END Estilo Login ----------------------- */

/* -------------------- Inicio Estilo Cadastro -------------------- */

.cadastro-div-item
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  width: 80%; 
}

.cadastro-radio-items
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.cadastro-titulo
{
  font-weight: 400;
  font-size: 18px;
  margin: 5px 0 10px 0;
}