/* Configurações gerais de toda a página */

* {
  margin: 0;
  padding: 0;
}

/* Declaração de variáveis */

:root{
    --cor_primaria:#53815A; /* versao mais escura -> #21472f */ 
    --cor_secundaria: #FFF;
    --grey: #B0B0B0;
}

body{
    position:relative;
    min-height: 200vh;
}
/* Estilo da navbar */

header{
    margin: 0px;
    width: 100%;
    overflow: hidden;
    height: 5rem;
    background-color: var(--cor_primaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.pages {
    display: flex;
    align-items: center;
}

.pages a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-align: 10px;
}

.pages span {
    margin: 0 15px;
}

.home-btn {
    display: flex;
    gap: 10px;
}

.home-btn img {
    height: 50px;
    width: 50px;
}

a.active-page{
    color:var(--cor_secundaria);
}

a.inactive-page{
    color:var(--grey);
}

a.inactive-page:hover{
    color:var(--cor_secundaria);
}

span.divider{
    color:var(--grey);
}

/* ----------------------- Estilo footer ----------------------- */

footer{
    margin: 0px;
    width: 100%;
    overflow: hidden;
    height: 40vh;
    background-color: var(--cor_primaria);
    position:absolute;    
    bottom: 0;
}

div#footer-itens{
    margin-top:10px;
    width: 100%;
    height: 30vh;
    background-color: var(--cor_primaria);
    display: flex;
}
div.contatos{
    width: 30%;
    margin-right: 6%;
}

div.contatos > p {
    margin-bottom: 1%;
}
div.sobre-nos{
    width: 50%;
    margin-right: 6%;
}
div.acesso-rapido{
    width: 30%;
    margin-right: 6%;
}

div.acesso-rapido > a{
    margin-bottom:1%;
    display: block;
    text-decoration: none;
    color:black;
    font-size: medium;
}
div#footer-itens > * h5{
    font-size:x-large;
    font-weight: bold;
}
div.acesso-rapido > a:hover{
    text-decoration: none;
    color:var(--grey);
}
p#footer-cp{
    width: 100%;
    margin-bottom: 0%;
    display:block;
    text-align: center;
    font-weight: bold;
}

/* ----------------------- End Estilo footer ----------------------- */
